source/com/becker/xml/hierarchy.dtd


<!ELEMENT hierarchy   (node | use)*>
<!ELEMENT node        (node | use)*>
<!ELEMENT use         EMPTY>


<!ATTLIST hierarchy
    title     NMTOKENS #REQUIRED
    imgpath   CDATA    #REQUIRED
    date      CDATA    #IMPLIED
    author    NMTOKENS #IMPLIED
>
<!ATTLIST node
    id        ID       #REQUIRED
    label     CDATA    #REQUIRED
>
<!ATTLIST use
    ref       IDREF    #REQUIRED
>